body {
    background-color: rgb(28, 22, 71);
    align-content: center;
    flex: content;
    flex-basis: 20%;
}

.navbar {
    display: flex;
    width: 100%;
    height: 55px;
    border-bottom: 5px;
    border-color: darkblue;
}

.bodydiv {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

* {
    font-family: sans-serif;
    color: cyan;
}

.inputdiv {
    display: grid;
    width: auto;
    height: auto;
    padding: 10px;
}

.inputtext {
    text-align: center;
    width: 300px;
    height: 10px;
}

.inputfield {
    background-color: rgb(10, 5, 44);
    width: 300px;
    height: 25px;
    padding: 10px;
}

.submitLogin {
    background-color: transparent;
    width: 300px;
    height: 30px;
    text-align: center;
}

.submitLogin:hover {
    background-color: rgb(10, 5, 44);
}
