<html>
    <head>

        <script src="{{url_for('static', filename='js/javascript.js')}}"></script>
        <meta charset="utf-8">
        <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" >
        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>

        {% if login != True: %}

            <nav class="navbar">

                <div class="navobj">
                    
                    <div class="navitem sort">
                        <a class="sort navbutton">Sort</a>
                        <div class="dropdown-content">
                            <a id="sort-name" href="#name">Name</a>
                            <a id="sort-type" href="#type">Type</a>
                            <a id="sort-size" href="#size">Size</a>
                            <a id="sort-date" href="#date">Upload date</a>
                        </div>

                    </div>

                    <div class="navitem">

                        <a class="navbutton swap" href={{swapLink}}>{{swap}}</a>

                    </div>

                </div>

                <div class="navobj">

                    <div class="navitem">

                        <button type="submit" class="navbutton section delete">Delete</a>
                            
                        <button type="submit" class="navbutton section move">Move</a>
                        
                        <button type="submit" class="navbutton section share">Share</a>

                    </div>

                </div>

                <div class="navobj">
                    
                    <div class="navitem">

                        <a class="navbutton logout" href="/logout">Log out</a>

                    </div>

                </div>

            </nav>

        {% endif %}

        <div class="bodydiv">

            {% block content %}{% endblock %}

        </div>
    </body>
</html>